*.db
.ipynb_checkpoints
.#*
build-*
sim.py
*.pyc
*.elf
*.bin
__pycache__
*.grendel
time_*.txt
calibrate
transform
batch.grendel
outputs*
*.grendel-list
*.log
rank_*.txt
*.json
*.png
*.tbl
paper*.pdf
.#*.py
.DS_STORE



